html, body {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    /* It helps to remove underline of link*/
    color: black;

}
a:hover {
    color: salmon;
}
.navbar a:hover {
    color: #333;
}

.container {
    padding: 20px;
    margin-right: 60px;
    margin-left: 60px;
}

h1 {
    font-weight: normal; /*same as 400*/
    margin-top: 0;
    padding-top: 75px;
    padding-left: 80px;
}

h2 {
    color:rgb(70, 70, 73); 
}

.header-container {
    margin: 0;
    padding-top: 0;
    overflow: hidden;
}

.main-header {
    background-image: url('../images/background.jpg');
    background-position: center;
    min-height: 200px;
    /*put min-height instead of height
      for responsible website*/
    margin: 0;
}

.navbar {
    background-color: rgb(112, 110, 114);
    color: #fff;
    margin-bottom: 20px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    margin-left: 70px;
    margin-right: 70px;
    padding: 0;
}


.navbar ul li {
    padding: 10px;
    display: block;
    text-align: center;
}   

@media(min-width: 768px) {
    .navbar ul li {
        /* padding: 10px; 생략가능*/  
        display: inline-block;
        text-align: left;
    }
}

.navbar ul li a{
    color: #fff;
    text-decoration: none;  
    font-size: 18px;
    padding-right: 15px;
}

.blog-image {
    width: 100%;
    height: auto;
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
}

@media(min-width: 768px) {
    .blog-image {
        width: 300px;
        height: 300px;
        float: left;
        margin-right: 30px; 
        margin-bottom: 0;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Same as above
.clearfix {
 overflow: auto;
}
*/

.main-footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
 }

